In [1]:
import numpy as np
import pandas as pd
import nltk
import seaborn as sns

In [2]:
dataset=pd.read_csv('the_data.csv')
dataset.head()

,Sno,Date,Headline,Covid,Sentiment,Description,Image,Source
0,0,2020-04-29,"Coronavirus cases reach 2,438 in Rajasthan; 81...",1,0,Rajasthan on Wednesday reported 74 new coronav...,https://static.inshorts.com/inshorts/images/v1...,http://www.rajswasthya.nic.in/?utm_campaign=fu...
1,1,2020-04-29,"Coronavirus cases in Delhi surge to 3,439 afte...",1,0,The total number of coronavirus cases in Delhi...,https://static.inshorts.com/inshorts/images/v1...,https://twitter.com/shemin_joy/status/12555489...
2,2,2020-04-30,"Anguished, I'll always recall our interactions...",0,1,"Condoling the demise of actor Rishi Kapoor, PM...",https://static.inshorts.com/inshorts/images/v1...,https://twitter.com/narendramodi/status/125573...
3,3,2020-04-30,It's a terrible week for Indian cinema: Rahul ...,0,0,Congress leader Rahul Gandhi condoled Rishi Ka...,https://static.inshorts.com/inshorts/images/v1...,https://zeenews.india.com/india/politicians-mo...
4,4,2020-04-30,Delhi Police perform 'parikrama' of AIIMS to t...,1,1,As a sign of respect for healthcare profession...,https://static.inshorts.com/inshorts/images/v1...,https://zeenews.india.com/india/delhi-police-p...

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [4]:
dataset=dataset.reset_index(drop=True)
dataset

,Sno,Date,Headline,Covid,Sentiment,Description,Image,Source
0,0,2020-04-29,"Coronavirus cases reach 2,438 in Rajasthan; 81...",1,0,Rajasthan on Wednesday reported 74 new coronav...,https://static.inshorts.com/inshorts/images/v1...,http://www.rajswasthya.nic.in/?utm_campaign=fu...
1,1,2020-04-29,"Coronavirus cases in Delhi surge to 3,439 afte...",1,0,The total number of coronavirus cases in Delhi...,https://static.inshorts.com/inshorts/images/v1...,https://twitter.com/shemin_joy/status/12555489...
2,2,2020-04-30,"Anguished, I'll always recall our interactions...",0,1,"Condoling the demise of actor Rishi Kapoor, PM...",https://static.inshorts.com/inshorts/images/v1...,https://twitter.com/narendramodi/status/125573...
3,3,2020-04-30,It's a terrible week for Indian cinema: Rahul ...,0,0,Congress leader Rahul Gandhi condoled Rishi Ka...,https://static.inshorts.com/inshorts/images/v1...,https://zeenews.india.com/india/politicians-mo...
4,4,2020-04-30,Delhi Police perform 'parikrama' of AIIMS to t...,1,1,As a sign of respect for healthcare profession...,https://static.inshorts.com/inshorts/images/v1...,https://zeenews.india.com/india/delhi-police-p...
...,...,...,...,...,...,...,...,...
1441,1441,2020-04-09,News of Tablighi Jamaat members defecating in ...,1,0,Saharanpur Police has denied news reports that...,https://static.inshorts.com/inshorts/images/v1...,https://thewire.in/media/media-misreports-tabl...
1442,1442,2020-04-09,Karnataka to finalise lockdown exit strategy b...,1,1,The Karnataka government is engaged in discuss...,https://static.inshorts.com/inshorts/images/v1...,https://www.financialexpress.com/india-news/ka...
1443,1443,2020-04-09,CRPF sends essentials to different districts o...,1,1,The CRPF on Thursday sent essential commoditie...,https://static.inshorts.com/inshorts/images/v1...,https://twitter.com/ANI/status/124816409174472...
1444,1444,2020-04-09,Jharkhand records 1st Covid-19 death as 72-yr-...,1,0,Jharkhand reported its first death due to coro...,https://static.inshorts.com/inshorts/images/v1...,https://zeenews.india.com/jharkhand/jharkhand-...
1445,1445,2020-04-09,T'gana issues guidelines for disposal of bodie...,1,0,Telangana government has issued guidelines for...,https://static.inshorts.com/inshorts/images/v1...,https://

In [5]:
from nltk.tokenize import word_tokenize
dataset['Headline']=dataset['Headline'].apply(word_tokenize)
dataset
dataset.shape

(1446, 8)

In [6]:
dataset.isnull().sum()

Sno            0
Date           0
Headline       0
Covid          0
Sentiment      0
Description    0
Image          0
Source         0
dtype: int64

In [7]:
dataset['Description'][0]

'Rajasthan on Wednesday reported 74 new coronavirus cases, taking the total number of cases in the state to 2,438. All three deaths reported in the state today were from Jaipur, taking the death toll to 55. Notably, 814 patients have recovered in the state and 592 were discharged. Jaipur is the worst-hit district with 878 cases and 30 deaths.'

In [8]:
import re

In [9]:
data=dataset['Description'][0]
re.sub('[^a-zA-Z]',' ',data)

'Rajasthan on Wednesday reported    new coronavirus cases  taking the total number of cases in the state to        All three deaths reported in the state today were from Jaipur  taking the death toll to     Notably      patients have recovered in the state and     were discharged  Jaipur is the worst hit district with     cases and    deaths '

In [10]:
data=data.lower()
data

'rajasthan on wednesday reported 74 new coronavirus cases, taking the total number of cases in the state to 2,438. all three deaths reported in the state today were from jaipur, taking the death toll to 55. notably, 814 patients have recovered in the state and 592 were discharged. jaipur is the worst-hit district with 878 cases and 30 deaths.'

In [11]:
list =data.split()
list

['rajasthan',
 'on',
 'wednesday',
 'reported',
 '74',
 'new',
 'coronavirus',
 'cases,',
 'taking',
 'the',
 'total',
 'number',
 'of',
 'cases',
 'in',
 'the',
 'state',
 'to',
 '2,438.',
 'all',
 'three',
 'deaths',
 'reported',
 'in',
 'the',
 'state',
 'today',
 'were',
 'from',
 'jaipur,',
 'taking',
 'the',
 'death',
 'toll',
 'to',
 '55.',
 'notably,',
 '814',
 'patients',
 'have',
 'recovered',
 'in',
 'the',
 'state',
 'and',
 '592',
 'were',
 'discharged.',
 'jaipur',
 'is',
 'the',
 'worst-hit',
 'district',
 'with',
 '878',
 'cases',
 'and',
 '30',
 'deaths.']

In [12]:
from nltk.stem.snowball import SnowballStemmer
sb=SnowballStemmer('english')

In [13]:
def stem_it(Headline):
    return [sb.stem(word) for word in Headline]
dataset['Headline']=dataset['Headline'].apply(stem_it)
dataset

,Sno,Date,Headline,Covid,Sentiment,Description,Image,Source
0,0,2020-04-29,"[coronavirus, case, reach, 2,438, in, rajastha...",1,0,Rajasthan on Wednesday reported 74 new coronav...,https://static.inshorts.com/inshorts/images/v1...,http://www.rajswasthya.nic.in/?utm_campaign=fu...
1,1,2020-04-29,"[coronavirus, case, in, delhi, surg, to, 3,439...",1,0,The total number of coronavirus cases in Delhi...,https://static.inshorts.com/inshorts/images/v1...,https://twitter.com/shemin_joy/status/12555489...
2,2,2020-04-30,"[anguish, ,, i, ll, alway, recal, our, interac...",0,1,"Condoling the demise of actor Rishi Kapoor, PM...",https://static.inshorts.com/inshorts/images/v1...,https://twitter.com/narendramodi/status/125573...
3,3,2020-04-30,"[it, 's, a, terribl, week, for, indian, cinema...",0,0,Congress leader Rahul Gandhi condoled Rishi Ka...,https://static.inshorts.com/inshorts/images/v1...,https://zeenews.india.com/india/politicians-mo...
4,4,2020-04-30,"[delhi, polic, perform, parikrama, ', of, aiim...",1,1,As a sign of respect for healthcare profession...,https://static.inshorts.com/inshorts/images/v1...,https://zeenews.india.com/india/delhi-police-p...
...,...,...,...,...,...,...,...,...
1441,1441,2020-04-09,"[news, of, tablighi, jamaat, member, defec, in...",1,0,Saharanpur Police has denied news reports that...,https://static.inshorts.com/inshorts/images/v1...,https://thewire.in/media/media-misreports-tabl...
1442,1442,2020-04-09,"[karnataka, to, finalis, lockdown, exit, strat...",1,1,The Karnataka government is engaged in discuss...,https://static.inshorts.com/inshorts/images/v1...,https://www.financialexpress.com/india-news/ka...
1443,1443,2020-04-09,"[crpf, send, essenti, to, differ, district, of...",1,1,The CRPF on Thursday sent essential commoditie...,https://static.inshorts.com/inshorts/images/v1...,https://twitter.com/ANI/status/124816409174472...
1444,1444,2020-04-09,"[jharkhand, record, 1st, covid-19, death, as, ...",1,0,Jharkhand reported its first death due to coro...,https://static.inshorts.com/inshorts/images/v1...,https://zeenews.india.com/jharkhand/jharkhand-...
1445,1445,2020-04-09,"[t'gana, issu, guidelin, for, dispos, of, bodi...",1,0,Telangana government has issued guidelines for...,https://static.inshorts.com/inshorts/images/v1...,https://

In [16]:
def stopword_removal(Headline):
    return [word for word in Headline]
dataset['Headline']=dataset['Headline'].apply(stopword_removal)
dataset['Headline']=dataset['Headline'].apply(' '.join)

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(dataset['Description'],dataset['Sentiment'],test_size=0.25)
x_train

429     Rajasthan Deputy CM Sachin Pilot on Wednesday ...
773     France will grant special financial aid to pro...
275     Images from the European Space Agency's Copern...
1433    As many as 540 new cases of coronavirus and 17...
84      The number of coronavirus cases in Karnataka h...
                              ...
793     The government on Saturday revealed that 14.4%...
1024    The Ministry of Health and Family Welfare anno...
916     Uttarakhand's Chamoli district deployed five m...
233     Pune-based Serum Institute of India has said i...
103     HRD Minister Ramesh Pokhriyal has urged all th...
Name: Description, Length: 1084, dtype: object

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidfv=TfidfVectorizer(max_df=0.5)
tfidfv_train=tfidfv.fit_transform(x_train)
tfidfv_test=tfidfv.transform(x_test)
print(tfidfv_train)

  (0, 2258)	0.13625022298387074
  (0, 5914)	0.11501969724492435
  (0, 2463)	0.13174930884158262
  (0, 1698)	0.1501855034679841
  (0, 6328)	0.1221562016520147
  (0, 5196)	0.20480836585299836
  (0, 6924)	0.26349861768316524
  (0, 3366)	0.18535130969104383
  (0, 4074)	0.17908753666870939
  (0, 5049)	0.1388038552388152
  (0, 2427)	0.20480836585299836
  (0, 4576)	0.1221562016520147
  (0, 649)	0.06217030443690194
  (0, 3100)	0.06806600417680114
  (0, 4448)	0.1545126052999204
  (0, 3901)	0.06806600417680114
  (0, 5298)	0.1696425596299386
  (0, 5236)	0.17908753666870939
  (0, 2341)	0.09131749726089126
  (0, 3492)	0.12963915532979484
  (0, 6184)	0.19342671762382943
  (0, 170)	0.1388038552388152
  (0, 3768)	0.11177718137644227
  (0, 31)	0.20480836585299836
  (0, 107)	0.12879177611563145
  :	:
  (1083, 5161)	0.1755018521939529
  (1083, 3121)	0.15683451413671057
  (1083, 6517)	0.10202032996960858
  (1083, 2386)	0.1549179602144395
  (1083, 2513)	0.14981464705896735
  (1083, 4981)	0.1794672376687041
  (1083, 4164)	0.16913050649223996
  (1083, 6112)	0.1343340682349261
  (1083, 4107)	0.1416648939537755
  (1083, 6031)	0.1222932633080158
  (1083, 755)	0.09293518366304065
  (1083, 2019)	0.12168094720491514
  (1083, 1120)	0.07189441684310793
  (1083, 6907)	0.07328668488490331
  (1083, 6334)	0.056431553392067756
  (1083, 2350)	0.1090401970473518
  (1083, 128)	0.06661267567910187
  (1083, 1911)	0.06747907914091382
  (1083, 797)	0.0865397511455673
  (1083, 6894)	0.07818284826949214
  (1083, 649)	0.06577083502307686
  (1083, 3100)	0.07200797827741075
  (1083, 3901)	0.07200797827741075
  (1083, 3082)	0.05114099283961394
  (1083, 6028)	0.07166858853898589

In [19]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(max_iter=1000)
lr.fit(tfidfv_train,y_train)
y_pred=lr.predict(tfidfv_test)

In [20]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7292817679558011

In [21]:
from sklearn.linear_model import PassiveAggressiveClassifier
pac=PassiveAggressiveClassifier(max_iter=100)
pac.fit(tfidfv_train,y_train)
y_pred_pac=pac.predict(tfidfv_test)
accuracy_score(y_test,y_pred_pac)

0.7403314917127072